<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<header th:replace="~{header :: header}"></header>
<body>
<div class="container">
    <form action="/orcamento/novo" method="POST">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="dataSolicitacao">Data Solicitação</label>
                <input id="dataSolicitacao" name="dataSolicitacao" type="date" class="form-control"  placeholder="dd/MM/yyyy"  required>
                <div class="valid-tooltip">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <select name="status" class="custom-select" multiple>
                    <option selected>Status</option>
                    <option value="Pendente">Pendente</option>
                    <option value="Parcial">Parcial</option>
                    <option value="Entregue">Entregue</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="nomeEmpresa">Nome Empresa</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                    </div>
                    <input id="nomeEmpresa" name="nomeEmpresa" type="text" class="form-control" placeholder="Nome Empresa" required>
                    <div class="invalid-tooltip">
                       Por favor,preencher com o nome da empresa
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Telefone" required>
                <div class="invalid-tooltip">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="observacao">Observação</label>
                <textarea type="text" class="form-control" id="observacao" name="observacao"  placeholder="Observação" rows="3" required> </textarea>
                <div class="invalid-tooltip">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>

</div>

</body>

</html>